* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --font-color: #8c8484;
  --bg-color: #222222;
  --blue-color: lightblue;
  --btn-hover-color: rgb(130, 161, 172);
  --square-color: #f0d9b5;
  --font-color: #8c8484;
  --font-color-light: #a19797;
  --footer-copy-color: rgb(36, 23, 110);
  --footer-color: cadetblue;
  --promotion-dark-color: #b59963;
  --promotion-light-color: #f0d9b5;

  --last-move-color: rgba(72, 162, 223, 0.4);
  --captured-color: rgba(223, 72, 72, 0.4);
  --possible-color: rgba(72, 162, 223, 0.6);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: Roboto, sans-serif;
  padding: 50px 15px;
}

button {
  cursor: pointer;
}

.btn {
  display: block;
  padding: 10px 30px;
  background-color: var(--blue-color);
  font-size: 20px;
  outline: none;
  border: none;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.btn--back {
  position: fixed;
  top: 7vh;
  right: 10vw;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.game {
  position: relative;
}

.game__btn {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 30px;
}

.board {
  position: relative;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  position: relative;
  width: 12.5%;
  height: 12.5%;
  background-color: var(--square-color);
}

.square--dark {
  background-color: var(--promotion-dark-color);
}

.square--last-move::before,
.square--captured::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--last-move-color);
}

.square--captured::before {
  background-color: var(--captured-color);
}

.square--possible::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--possible-color);
  animation: 0.2s ease fade;
}

.piece {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.piece img {
  max-width: 80%;
  max-height: 80%;
  transition: all 0.2s ease;
  z-index: 6;
}

.piece.selected img {
  transform: scale(1.2);
}

.promotion,
.game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.promotion__title,
.game-over__title {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
}

.promotion__body {
  padding: 15px 20px 20px;
  text-align: center;
  background-color: var(--promotion-dark-color);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.5);
}

.promotion__box {
  display: flex;
  gap: 20px;
}

.promotion__item {
  padding: 10px;
  background-color: var(--promotion-light-color);
}

.promotion__item img {
  width: 100%;
}

.game-over__body {
  padding: 15px 50px 20px;
  text-align: center;
  background-color: var(--bg-color);
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
  color: var(--font-color-light);
}

.game-over__btn {
  max-width: 150px;
  margin: 0 auto;
}

.game-over__result {
  display: block;
  margin-bottom: 20px;
}

.interactive {
  cursor: pointer;
}

.settings {
  color: var(--font-color);
}

.settings__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.settings__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.settings__box label {
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
}

.settings__item input {
  margin-right: 5px;
  cursor: pointer;
}

.audio label {
  display: block;
  margin-bottom: 10px;
  cursor: default;
}

.audio label:last-child {
  margin-bottom: 0;
}

.audio input {
  margin-left: 20px;
  margin-right: 0;
  width: 150px;
}

.statistics {
  color: var(--font-color);
}

.statistics__table {
  display: block;
  min-height: 80vh;
  font-size: 20px;
  border-collapse: collapse;
}

.statistics__header {
  padding: 12px 17px;
  font-size: 26px;
  font-weight: 500;
  text-transform: capitalize;
  border: 2px solid var(--font-color);
}

.statistics__header:not(:first-child) {
  min-width: 140px;
}

.statistics__number {
  text-align: center;
  border: 1px solid var(--font-color);
}

.statistics__cell {
  padding: 10px 20px;
  text-align: right;
  min-width: 140px;
  border: 1px solid var(--font-color);
}

.hot-keys {
  font-size: 30px;
  color: var(--font-color);
}

.hot-keys__list {
  display: block;
  list-style: none;
}

.hot-keys__item {
  display: flex;
  margin-bottom: 10px;
}

.hot-keys__item span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 80px;
  text-align: center;
  margin-right: 25px;
  padding: 4px;
  border: 2px solid var(--font-color);
  font-size: 22px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px 15px;
  text-align: center;
  background: var(--footer-color);
  z-index: 15;
}

.footer__logo {
  margin-right: 20px;
}

.footer__logo img {
  width: 85px;
}

.footer__copy {
  font-size: 15px;
}

.footer__copy a {
  font-weight: 500;
  text-decoration: none;
  color: var(--footer-copy-color);
}

@media (max-width: 1150px) {
  .statistics__header {
    font-size: 24px;
    padding: 10px;
  }
  .statistics__header:not(:first-child),
  .statistics__cell {
    min-width: 80px;
  }
}

@media (max-width: 1040px) {
  .board {
    width: 570px;
    height: 570px;
  }
  .game__btn {
    padding: 10px 20px;
  }
}

@media (max-width: 950px) {
  .game__btn {
    position: static;
    margin: 30px auto;
  }
  .btn--back {
    top: 5vh;
    right: 5vw;
  }
  .statistics__table {
    margin-top: 70px;
  }
}

@media (max-width: 650px) {
  .board {
    width: 90vw;
    height: 90vw;
  }
  .statistics__header:not(:first-child),
  .statistics__cell {
    min-width: auto;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
